{% extends 'base.html' %}

{% block content %}

<div class="col-lg-6 text-center ">
  <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Gracias por enseñarle una nueva palabra a nuestro amigo!</h1>
  <div class="col-lg-6text-center">
    <img src="https://i.pinimg.com/originals/44/26/3f/44263f7426263e2a0ca9d77aa6aae3d8.gif" alt="Descripción del GIF">

  </div>  
  <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="{% url 'index' %}" class="btn btn-secondary">Volver al inicio</a></p>
</div>

{% endblock %}
