body{
    background-color: #121a2efa;
    color: rgb(252, 252, 252);

}

.div_buscador{
    text-align: center;
    transform: translateY(200px);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#info_search{
    font-size: 16px;
    transform: translateY(-30px);
}

.div_button{
    transform: translateY(-20px);
}

form {
    
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

.div_note{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  transform: translateY(15px);
  color: #45a0497e;
}