{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}?=v10">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
    <div class="div_buscador">
        <h1 id="buscador">Search</h1>
        <p id="info_search"> <b>Search for a movie, series, anime or book.</b></p>
        <div class="div_button">
            <form action="{% url 'movie' %}" method="get">
                <input type="text" id="search" name="q" required autocomplete="off">
                <button type="submit">Buscar</button>
            </form>
            <div class="div_note">           
                <p> <b>Note: Some movies/series are uploaded in Spanish..</b></p>    
                <p> <b>Nota: Algunas peliculas/series están subidas en inglés..</b></p>    
            </div>     
        </div>
    </div>

 
</body>

</html>