{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% tailwind_css %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django+Tailwind+Vercel=❤️</title>
</head>
<body class="bg-[#090909] font-mono leading-normal tracking-normal">
	<!-- Este archivo aun estan vacios... -->
	{% include 'partials/_navbar.html' %}
	
	{% block content %}
	{% endblock content %}

	<!-- Este archivo aun estan vacios... -->
	{% include 'partials/_footer.html' %}
</body>
</html>
